# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Node Files
# --------------------
.nodemonignore
npm-debug.log
node_modules/*

# --------------------
# MITM Config
# --------------------
# Ignore the real mitm.js file
config/mitm*.js
!config/mitm_example.js
